{% extends '_layout/skeleton.html' %}

{% block head %}
	<meta property="og:title" content="{{ trip.title }} - Hitchhiking Diary" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ url_for('explore_trip_detail', trip_id=trip.id) }}" />
	<meta property="og:image" content="{{ url_for('opengraph_image', trip_id=trip.id) }}" />

	<link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">

	<script src="{{ url_for('static', path='/js/leaflet.geometryutil.js') }}"></script>
	<script src="{{ url_for('static', path='/js/leaflet-arrowheads.js') }}"></script>
{% endblock %}

{% block title %}{{ trip.title }} - Hitchhiking Diary{% endblock %}

{% block content %}
	<div class="row mt-4">
		<div class="col-lg-4 mb-lg-0 mb-md-2">
			<div class="rounded p-3 text-white" style="background: #228B22; height: 100%;" >
				<div class="d-flex align-items-center">
					<img class="me-3 rounded" src="{{ url_for('static', path='/images/logo.jpg') }}" alt="Hitchhiking diary" width="100" height="100">
					<div class="lh-1">
						<h1 class="mb-0 text-white h2">{{ trip.title }}</h1>
						<small>
							<i class="bi bi-person"></i>
							{{ trip.user.username }}
						</small>
					</div>
				</div>
				{% if trip.content %}
					<div class="mt-2">
						{% for p in trip.content.split('\n') %}
							{% if p %}
								<p>{{ p }}</p>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	<div class="col-lg-8">
		<div id="map" class="rounded"></div>
	</div>
	</div>

	<script>
		var map = L.map('map').setView([51.505, -0.09], 13);
		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		// List of points with title and datetime
		var points = [
			{% for record in trip.records|reverse %}
				{
					id: "{{ record.id }}",
					lat: {{ record.latitude }},
					lng: {{ record.longitude }},
					title: "{{ record.type.title() }}",
					icon: "{{ record.type.icon() }}",
					divIcon: L.divIcon({
						html: `<b class="bi {{ record.type.icon() }}"></b>`,
						iconSize: [25, 25],
						className: 'bootstrap-icon-marker'
					}),
					datetime: "{{ record.happened_at.strftime('%d.%m.%Y %H:%M') }}"
				},
			{% endfor %}
		];

		// Function to create a marker with a popup
		function createMarker(point) {
			var marker = L.marker([point.lat, point.lng], {icon: point.divIcon}).addTo(map);
			marker.bindPopup(
				`<a href="#${point.id}"><strong><i class="bi ${point.icon}"></i> ${point.title}</strong></a>`
				+ `<br>`
				+ `<time>${point.datetime}</time>`
			);
			return marker;
		}

		var markers = points.map(createMarker);
		var group = L.featureGroup(markers);
		map.fitBounds(group.getBounds());

		var coordinates = points.map(point => [point.lat, point.lng]);

		var polyline = L.polyline(coordinates, {
			color: '#228B22',
			opacity: 0.7
		}).arrowheads({
			frequency: '50px',
			size: '12px'
		});
		polyline.addTo(map);

	</script>

	<div class="row justify-content-center">
		<div class="col-12 col-lg-7">
			<ul class="timeline">
				{% for record in trip.records %}
					<li>
						<article class="card">
							<div class="card-body">
								<h2 id="{{ record.id }}" class="h4 pb-0 mb-0"><i class="bi {{ record.type.icon() }}"></i> {{ record.type.title() }}</h2>
								<time class="small fw-lighter">{{ record.happened_at.strftime('%d.%m.%Y %H:%M') }}</time>

								{% if record.content or record.photos %}
									{% for p in record.content.split('\n') %}
										{% if p %}
											<p class="card-text">{{ p }}</p>
										{% endif %}
									{% endfor %}

									{% if record.photos %}
										<div id="carousel-{{ record.hash }}" class="carousel slide">
											<div class="carousel-indicators">
												{% for photo in record.photos %}
													<button type="button" data-bs-target="#carousel-{{ record.hash }}"
																	data-bs-slide-to="{{ loop.index0 }}"
																	class="{% if loop.first %}active{% endif %}"
																	aria-current="{% if loop.first %}true{% else %}false{% endif %}"
																	aria-label="Slide {{ loop.index }}"></button>
												{% endfor %}
											</div>

											<div class="carousel-inner">
												{% for photo in record.photos %}
													<div class="carousel-item {% if loop.first %}active{% endif %}">
														<img src="{{ url_for('explore_download_photo', photo_id=photo.id) }}" class="d-block w-100"
																 alt="">
													</div>
												{% endfor %}
											</div>

											<button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ record.hash }}"
															data-bs-slide="prev">
												<span class="carousel-control-prev-icon" aria-hidden="true"></span>
												<span class="visually-hidden">Previous</span>
											</button>

											<button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ record.hash }}"
															data-bs-slide="next">
												<span class="carousel-control-next-icon" aria-hidden="true"></span>
												<span class="visually-hidden">Next</span>
											</button>
										</div>

										<script>
											const CarouselElement{{ record.hash }} = document.querySelector('#carousel-{{ record.hash }}');

											const Carousel{{ record.hash }} = new bootstrap.Carousel(CarouselElement{{ record.hash }}, {
												interval: 2000,
												touch: false
											})
										</script>
									{% endif %}
									</div>
								{% endif %}
						</article>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
