body{
	background:#eee;
}

.timeline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.timeline > li {
	position: relative;
	margin: 10px 0
}


#map { height: 500px; }

.bootstrap-icon-marker {
	background-color: rgba(34, 139, 34, 0.7);
	border-radius: 5px;
	font-size: large;
	text-align: center;
}

.card {
	border: 0;
}
